@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	max-width: 800px;
	font-family: 'Muli', sans-serif;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
header {
	background-color: #ebbd28;
	position: fixed;
	top: 0;
	display: flex;
	padding: 0 max(5vw, calc(5vw + (90vw - 800px) / 2));
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;

	height: 120px;

	z-index: 10;
}

:root {
	--hero-height: 60vh;
	--portfolio-height: 60vh;
}

.hero {
	height: var(--hero-height);
	width: 100vw;
	z-index: -1;
	position: relative;
	background-color: blue;
}
.hero-img {
	object-fit: cover;
	width: 100vw;
	height: var(--hero-height);
}

.hero-content {
	width: 200px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 25px;

	position: absolute;
	top: calc((var(--hero-height) - 200px) / 2);
	left: calc((100vw - 200px) / 2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}
h1 {
	flex: 1;
	font-size: 20px;
	color: white;
	font-weight: 400;
	margin: 10px auto;
}
h3 {
	flex: 1;
	color: rgb(200, 200, 200, 1);
	font-weight: 400;
	margin: 10px auto;
}

main {
	background-color: rgb(120, 146, 120);
	position: absolute;
	top: 120px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	z-index: 0;
}

footer {
	height: 50px;
	background: #ebbd28;
	color: black;
	text-align: center;
	padding: 5px;

	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	width: 100vw;
	justify-content: center;
}

footer p {
	padding: 0;
	margin: 0 auto;
	line-height: 1;
}
li {
	display: inline;
	padding: 6px;
}

li a {
	text-decoration: none;
	color: black;
}

li a:active {
	text-decoration: underline;
	text-decoration-color: black;
}

li a:hover,
li a:visited,
li a:active {
	text-decoration: underline;
	text-decoration-color: none;
}

.portfolio-of-work {
	max-width: 800px;
	margin-bottom: 100px;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.portfolio-of-work h3 {
	flex: 1;
	color: black;
	font-size: 30px;
	margin: 40px 0;
}
.portfolios {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-items: stretch;

	flex-wrap: wrap;
}
.portfolio {
	height: 300px;
	width: 230px;
	border: 1px solid darkgray;
	border-radius: 3px;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: stretch;
	background-color: #977e7e;
}
.portfolio-header {
	flex: 1;
	color: #e0e0e0;
	font-size: 24px;
	text-align: center;
}

.portfolio-text {
	flex: 1;
	color: darkred;
	font-size: 12px;
	text-align: center;
}

.portfolio-image {
	flex: 5;
}
.portfolio-image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.modal-content {
	width: 500px;
	height: 300px;
	background-color: white;
	opacity: 1;
	border-radius: 4px;
	text-align: center;
	padding: 20px;
	position: relative;
}
img {
	width: 100px;
}
.close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}

input {
	width: 50%;
	display: block;
	margin: 15px auto;
}
.btn {
	width: 100px;
	height: 20px;
	padding: 14px 40px;
	background-color: rgb(38, 99, 156);
	border-radius: 10rem;
	color: white;
	cursor: pointer;
}
.btn:hover {
	transform: scale(0.98);
}
.btn:focus {
	outline: 0;
}
